/* App */

html,
body {
  background: orange;
  box-sizing: border-box;
}

.App {
  background: orange;
  font-family: "Fjalla One", sans-serif;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
}

.header-container {
  padding: 30px 0px;
}

.header {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
}

.sub-text {
  font-size: 25px;
  font-weight: bold;
}

.content-container {
  background-color: #a200d6;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  /* color: white; */
}

.connect-wallet-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 550px;
}

.connect-wallet-container img {
  padding-bottom: 20px;
}

.connect-wallet-button {
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
  background-image: linear-gradient(
    to right,
    #f01506 0%,
    #d14301 0%,
    #fd7a00 21%,
    #da4131 52%,
    #ff7c10 78%,
    #ff0000 100%
  );
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.inactive:hover {
  cursor: not-allowed;
}


/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Select character */
.select-character-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.select-character-container .character-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(108px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
  grid-row-gap: 15px;
  grid-column-gap: 60px;
}

.character-grid .character-item {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-self: center;
  align-self: center;
}

.character-item img {
  height: 200px;
  width: 170px;
  border-radius: 10px;
  object-fit: cover;
}

.character-item .name-container {
  position: absolute;
  background-color: #838383;
  border-radius: 5px;
  margin: 10px;
}

.character-item .name-container p {
  margin: 0;
  padding: 5px 10px 5px 10px;
  font-weight: bold;
}

.character-item .character-mint-button {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgb(32, 129, 226);
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.select-character-container .loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 75px;
}

.select-character-container .loading .indicator {
  display: flex;
}

.select-character-container .loading .indicator p {
  font-weight: bold;
  font-size: 28px;
  padding-left: 5px;
}

.select-character-container .loading img {
  width: 450px;
  padding-top: 25px;
}

/* Arena */

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.battle-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-area .img-content img {
  width: 70%;
}

.attack-area .img-content img {
  height: 100%;
  width: 65%;
}

.attack-area .img-content img:hover {
  width: 70%;
  cursor: pointer;
}


/* Effects */


.attack-area .attacking {
  animation: shake 1.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}


@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes hit-bounce {
  0% {
    transform: scale(1) translateY(0);
  }
  10% {
    transform: scale(1.2, 0.6);
  }
  30% {
    transform: scale(0.8, 1.1) translateY(-10px);
  }
  50% {
    transform: scale(1) translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}


/* Sidebar */

.sidebar-sticky {
  /* background-color: #141920; */
  background: rgb(255, 157, 0);
  background: linear-gradient(
    0deg,
    rgba(255, 157, 0, 1) 0%,
    rgba(254, 105, 57, 1) 100%
  );
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  /* height: calc(100vh - 48px); */
  padding-top: 0.5rem;
  height: 100%;

  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}


/* Status Circles */

.status-indicators {
  display: block;
  padding: 0.5rem 1rem;
  text-align: left;
  font-weight: 500;
}

.on {
  color: rgb(13, 221, 176);
}

.off {
  color: rgb(255, 60, 0);
}

.nav-link-button {
  border: 1px solid rgb(253, 215, 0);
  border-radius: 10px;
  margin: 10px;
  background: rgb(255, 65, 0);
  background: linear-gradient(
    0deg,
    rgba(255, 65, 0, 0.5654412277606355) 0%,
    rgba(254, 57, 57, 1) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.sidebar .nav-active {
  background: rgb(255, 219, 0);
  background: linear-gradient(
    0deg,
    rgba(255, 219, 0, 0.5654412277606355) 0%,
    rgba(254, 187, 57, 1) 100%
  );
  color: rgb(255, 81, 0);
}

.sidebar .nav-link:hover {
  cursor: pointer;
}

.sidebar .nav-link.active {
  color: black;
}
